{% extends "partials/base.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<div class="container">

<div class="row my-4">
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'dashboard-products-edit' product.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'dashboard-products-delete' product.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}