{% extends 'partials/base.html' %}
{% block title %}Productos{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/topnav.html' %}
<div class="container">
<div class="row my-4">
    <div class="col-md-4">
        {% comment %} {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %} {% endcomment %}
        <div class="card" style="width: 22rem;">
            <div class="card-body">
            <h5>Añadir nuevos productos</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}              
                <input class="btn btn-success btn-block" type="submit" value="Añadir">
            </form>
        </div>
    </div>
    
</div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Acitividad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        {% comment %} <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'api-products-edit' product.id %}">Editar</a> {% endcomment %}
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'api-productos-delete' item.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}