{% extends "partials/base.html" %}
{% block title %}Pagina de borrado de productos{% endblock %}

{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Eliminar Item</h3>
            <hr>
            <form method="POST">
                <div class="alert alert-danger">
                    <h4> Esta seguro de eliminar {{ item }}?</h4>
                </div>
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-secondary btn-sm" href="{% url 'api-productos' %}">Cancelar</a>
                <input class="btn btn-danger btn-sm" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}