{% load crispy_forms_tags %}

{% if  user.is_authenticated and user.is_staff%}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Haz un pedido
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info btn-block" type="submit" value="Haz un pedido">
                    </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const productSelect = document.getElementById('id_product');
                            const quantityAvailableInput = document.getElementById('id_quantity_available');
                    
                            productSelect.addEventListener('change', function () {
                                const productId = productSelect.value;
                    
                                if (productId) {
                                    fetch(`/get_product_quantity/${productId}/`)
                                        .then(response => response.json())
                                        .then(data => {
                                            quantityAvailableInput.value = data.quantity;
                                        });
                                } else {
                                    quantityAvailableInput.value = '';
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Ordenes
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th scope="col">Productos</th>
                                <th scope="col">Categorias</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Ordenado por</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            {% if order.staff == user %}
                            <tr>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.product.category_display }}</td>
                                <td>{{ order.order_quantity }}</td>
                                <td>{{ order.staff }}</td>
                                <td>{{ order.date|date:"d M Y, H:i" }}</td>
                                <td style="display: flex; gap: 5px;">
                                    <a class="btn btn-info btn-sm"
                                       href="{% url 'api-staff-ordenes-detail' order.id %}">Ver</a>
                                    <a class="btn btn-info btn-sm bg-dark"
                                       href="{% url 'api-staff-ordenes-edit' order.id %}">Editar</a>
                                </td>
                                
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}