{% extends "partials/base.html" %}
{% block title %} Pagina Staff{% endblock %}

{% block content %}
{% include 'partials/topnav.html'%}
<div class="container">
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-sm">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                {% for worker in workers %}
                <tr>
                    <th scope="row"><a class="btn btn-info btn-sm"
                            href="{% url "api-staff-detail" worker.id %}">View</a></th>
                    <td>{{ worker.username }}</td>
                    <td>{{ worker.email }}</td>
                    <td>{{ worker.perfil.Telefono }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock %}