{% extends 'partials/base.html' %}
{% block title %}Cadenas de Blockchain{% endblock %}
{% block content %}
{% include 'blockchain/top_nav_block.html' %}
<div class="container mt-4">
    <div class="card">
<div class="block-container">
    {% if blocks %}
    <table class="table bg-white">
        <thead class="bg-info text-white">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Acciones</th> 
            </tr>
        </thead>
        <tbody>
            {% for block in blocks %}
                <tr>
                    <td>{{ block.orden_id }}</td>
                    <td>{{ block.nombre }}</td>
                    <td>{{ block.cantidad }}</td>
                    <td>{{ block.stock }}</td>
                    <td>{{ block.fecha }}</td>
                    <td>{{ block.cliente }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'blockchain-cadena' block.orden_id %}">Agregar Bloque</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No se encontraron bloques.</p>
{% endif %}
</div>
</div>
<br>
<div class="block-container">
    <table class="table bg-white">
        <thead class="bg-info text-white">
            <tr>
                <th>Nombre</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {% for cadena in cadenas %}
            <tr>
                <td>{{ cadena.nombre }}</td>
                <td>
                    {% for block in cadena.bloques.all %}
                        <div>Orden ID: {{ block.orden_id }} - Nombre: {{ block.nombre }} - Cantidad: {{ block.cantidad }}</div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}