{% extends 'partials/base.html' %}
{% block title %}Página de Bloques{% endblock %}
{% block content %}
{% include 'blockchain/top_nav_block.html' %}
    
    <div class="container mt-4">
            <div class="block-container">
                {% if blocks %}
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Inventario</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for block in blocks %}
                                <tr>
                                    <td>{{ block.orden_id }}</td>
                                    <td>{{ block.nombre }}</td>
                                    <td>{{ block.cantidad }}</td>
                                    <td>{{ block.stock }}</td>
                                    <td>{{ block.fecha }}</td>
                                    <td>{{ block.cliente }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm mr-2" href="{% url 'blockchain-detalle' block.pk %}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay bloques creados todavía</p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
{% endblock%}