{% extends 'partials/base.html' %}
{% block title %}Blockchain{% endblock %}
{% block content %}
{% include 'blockchain/top_nav_block.html' %}
    
    <div class="container mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">Blockchain</div>
            <div class="card-body">
            <form method="get" action="{% url 'blockchain-consulta' %}">
                <label for="order_id">Buscar por ID de la Orden:</label>
                <input type="text" id="order_id" name="order_id" placeholder="Ingresa el ID de la orden">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
    <br>
            <div class="block-container">
                {% if blocks %}
                    <table class="table bg-white">
                        <thead class="bg-info text-white">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Stock</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for block in blocks %}
                                <tr>
                                    <td>{{ block.orden_id }}</td>
                                    <td>{{ block.nombre }}</td>
                                    <td>{{ block.cantidad }}</td>
                                    <td>{{ block.stock }}</td>
                                    <td>{{ block.fecha }}</td>
                                    <td>{{ block.cliente }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No se encontraron bloques para el ID de orden proporcionado.</p>
                {% endif %}
            </div>
       {% comment %} 
            <div class="block-container">
                {% for block in blocks %}
                <div class="block">
                    <p>ID: {{ block.orden_id }}</p>
                    <p>Nombre: {{ block.nombre }}</p>
                    <p>Cantidad: {{ block.cantidad }}</p>
                    <p>Stock: {{ block.stock }}</p>
                    <p>Fecha: {{ block.fecha }}</p>
                    <p>cliente: {{ block.cliente }}</p>
                    <p>Hash: {{ block.hash }}</p>
                    <p>Prev Hash: {{ block.prev_hash }}</p>
                </div>
                {% endfor %} {% endcomment %}
            </div>
        </div>
    </div>
{% endblock%}

