<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario con Blockchain</title>
    <style>
        .block-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .block {
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
        }
        .block p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    {% extends 'partials/base.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
    {% include 'blockchain/top_nav_block.html' %}
    <div class="container mt-4">
    <div class="col-md-auto">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Acitividad</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url "blockchain-orden" item.id %}">Crear Orden</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
    {% endblock %}
</body>
</html>
