{% extends 'partials/base.html' %}
{% block title %}Ordenes{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blockchain/top_nav_block.html' %}
<div class="container mt-4">
        <div class="card">
            <div class="card-header bg-info text-white">
                Generar Orden
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <form id="orderForm" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div style="text-align: center;">
                        <button type="submit">Generar Orden</button>
                    </div>
                </form>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const productSelect = document.getElementById('id_nombre');  // Cambiado a 'id_nombre'
                        const quantityAvailableInput = document.getElementById('id_stock');  // Cambiado a 'id_stock'
                    
                        productSelect.addEventListener('change', function() {
                            const productId = productSelect.value;
                            fetch(`/get_product_quantity/${productId}/`)
                                .then(response => response.json())
                                .then(data => {
                                    quantityAvailableInput.value = data.quantity;
                                });
                        });
                    });
                </script>
                
            </div>
        </div>
        
{% endblock %}
